/* media query sorry please play battleship on desktop */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/battleship2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: grid;
  grid-template-rows: 2fr 1fr 5fr;
  /* row-gap: 50px; */
  text-align: center;
  font-family: "Stardos Stencil", cursive;
}

.dim {
  opacity: 0.5;
}

.title {
  margin-top: -30px;
}

.title h2 {
  margin-top: -40px;
}

.messagediv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.messagebox {
  background-color: lightgrey;
  opacity: 0.8;
  border: 2px solid grey;
  height: 50%;
  width: 40%;
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}

.gamediv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-left: 60px;
  margin-right: 60px;
  justify-items: center;
}

.playercontainer {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

.playeronetitle {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.rotatediv {
  display: grid;

  align-content: center;
  /* justify-content: center; */
}

.rotate {
  background-color: grey;
  border: 1px solid black;
  cursor: pointer;
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: lightgray;
  justify-items: center;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  /* padding: 10px; */
  /* background-color: white; */
}

.gridsquare {
  background-color: lightgray;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 0.5px solid black;
  height: 100%;
  width: 100%;
}

.select {
  background-color: grey;
}

.gridsquare:hover {
  /* background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%); */
  /* background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114)); */
}

.occupied {
  background-color: grey;
}

.hit {
  background-color: lightcoral;
}

.miss {
  /* background-color: darkgray; */
  /* background-color: #f5f5f5; */
  background-color: #f2f3f4;
}
